#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.docstates
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
_UpgradeReport_Files/
UpgradeLog.XML
UpgradeLog.htm
Backup/
[Pp]ackages/
App_Data/
[Pp]roject.lock.json

#Tooling
_ReSharper*/
*.resharper
*.dotCover
*.ncrunchsolution
*.ncrunchproject
nCrunchTemp*
[Tt]est[Rr]esult*
*.psess
*.vsp
.idea/

#Project files
[Bb]uild/

#Subversion files
.svn

#Office Temp Files
~$*

#Logs
*.Log
*.InstallLog
*.TMP

.vs/
.fake/
output/
node_modules
bower_components

dist
tmp
out-tsc
*.nupkg
*.swp